.sideView-background, .topView-background, .simultaneous-background {
    -fx-background-color: #BDD7EE; /* Light blue background */
}

.left-box {
    -fx-background-color: #F8FCEC;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-font-family: "Calibri"; /* Font family for items within the boxes */
    -fx-font-size: 16px; /* Font size for items within the boxes */

}

.right-box {
    -fx-background-color: #F8FCEC;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-font-family: "Calibri"; /* Font family for items within the boxes */
    -fx-font-size: 16px; /* Font size for items within the boxes */

}

/* You might also want to ensure any text or labels within those boxes are styled */
.label {
    -fx-text-fill: white; /* Color of the text */
    -fx-font-family: "Calibri"; /* Font family */
    -fx-font-size: 16px; /* Font size */
}




/* Style for the HBox */
.menu-box {
    -fx-background-color: #4472C4;
    -fx-padding: 5px; /* Adjust padding to control the height */
    -fx-alignment: center-left;

}

/* Style for the MenuBar and Menus */
.menu-bar, .menu {
    -fx-background-color: transparent;
}

.menu > .label:hover{
    -fx-font-weight: bold;
}
.menu .context-menu {
    -fx-background-color: #4472C4;
}

/* Style for the Menu Items */
.menu-item {
    -fx-background-color: transparent;
}

/* Style for the Menu Items when hovered */
.menu-item:hover {
    -fx-font-weight: bold;
}

/* Style for the Log out button */
.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: white; /* Text color for the button */
    -fx-alignment: center-right;
    -fx-font-family: "Calibri";
    -fx-alignment: center-right;
    -fx-font-size: 16px;
}

.logout-button:hover {
    -fx-font-weight: bold;
}


/* Push the logout button to the right */
.logout-button {
    -fx-max-width: infinity; /* Make button grow to push it to the right */
}

.empty {
    -fx-background-color: transparent;
}



/* below is all the stuff added in for the left and right side */
/**/
.vbox {
    -fx-background-color: #f2f2f2;
}
.titled-pane{
    -fx-font-size: 16px;
    -fx-padding: 3px;
}
.grid-pane {
    -fx-border-color: black; -fx-border-insets: 5; -fx-border-width: 1; -fx-padding: 5;
}




.titled-pane .label {
    -fx-text-fill: #333;
    -fx-font-size: 13px;
}



/* Default style for the tabs */
.toggle-button {
    -fx-background-color: #9DC3E6; /* Dark blue color */
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-size: 12px;
    -fx-border-width: 1.25;
}



/* Style for the tabs when selected */
.toggle-button:selected, .toggle-button:armed {
    -fx-background-color: #0055cc; /* Medium blue color for selected */
}

/* Adjust the style for the TitledPane title */
.titled-pane > .title {
    -fx-font-size: 16px;
    -fx-background-color: #D6D6D6;
}

/* Style for the TitledPane content area */
.titled-pane > .content {
    -fx-padding: 10;
}



.combo-box {
    -fx-font-size: 12px;
}



.header-label {
    -fx-font-weight: bold;
}

.center-label {
    -fx-text-fill: white !important;
    -fx-font-weight: bold;
    -fx-pref-width: 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #4472C4;
}



.arrow-text {
    -fx-font-family: "Calibri";
    -fx-fill: white !important;
    -fx-padding: bold;
    -fx-font-size: 26px;
}


.grid-pane-airportstuff {
    -fx-font-family: "Calirbri";
}

.gridpane-label-left {
    -fx-font-weight: bold;
}

.grid-pane-label{

    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Calibri";

}

.clearway-box{
    -fx-background-color: transparent;
    -fx-max-height: 100;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}


