.sideView-background, .topView-background, .simultaneous-background {
    -fx-background-color: #BDD7EE; /* Light blue background */
}

.left-box {
    -fx-background-color: #F8FCEC;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-font-family: "Calibri"; /* Font family for items within the boxes */
    -fx-font-size: 16px; /* Font size for items within the boxes */

}

.right-box {
    -fx-background-color: #F8FCEC;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-font-family: "Calibri";
    -fx-font-size: 16px;

}






.menu-box {
    -fx-background-color: #4472C4;
    -fx-padding: 5px;
    -fx-alignment: center-left;

}


.menu-bar, .menu {
    -fx-background-color: transparent;
}

.menu > .label:hover{
    -fx-font-weight: bold;
}
.menu .context-menu {
    -fx-background-color: #4472C4;
}

/* Style for the Menu Items */
.menu-item {
    -fx-background-color: transparent;
}

/* Style for the Menu Items when hovered */
.menu-item:hover {
    -fx-font-weight: bold;
}



.empty {
    -fx-background-color: transparent;
}


.vbox {
    -fx-background-color: #f2f2f2;
}
.titled-pane{
    -fx-font-size: 16px;
    -fx-padding: 3px;
}
.grid-pane {
    -fx-border-color: black; -fx-border-insets: 5; -fx-border-width: 1; -fx-padding: 5;
}




.titled-pane .label {
    -fx-text-fill: #333;
    -fx-font-size: 13px;
}




.toggle-button {
    -fx-background-color: #9DC3E6;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-size: 12px;
    -fx-border-width: 1.25;
}




.toggle-button:selected, .toggle-button:armed {
    -fx-background-color: #0055cc;
}

.button {
    -fx-background-color: #9DC3E6;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-size: 12px;
    -fx-border-width: 1.25;
}


.button:hover {
    -fx-font-weight: bold;
}

.button-selected {
    -fx-background-color: #0055cc;
}



.titled-pane > .title {
    -fx-font-size: 16px;
    -fx-background-color: #D6D6D6;
}


.combo-box {
    -fx-font-size: 12px;
}

.header-label {
    -fx-font-weight: bold;
}

.center-label {
    -fx-text-fill: white !important;
    -fx-font-weight: bold;
    -fx-pref-width: 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #4472C4;
}



.display-designator-text {
    -fx-font-family: "Calibri";
    -fx-fill: black !important;
    -fx-padding: bold;
    -fx-font-size: 26px;
}


.grid-pane-airportstuff {
    -fx-font-family: "Calirbri";
}

.gridpane-label-left {
    -fx-font-weight: bold;
}

.grid-pane-label{

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Calibri";

}

.clearway-box{
    -fx-background-color: transparent;
    -fx-max-height: 100;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}


.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: white; /* Text color for the button */
    -fx-alignment: center-right;
    -fx-font-family: "Calibri";
    -fx-alignment: center-right;
    -fx-font-size: 16px;
}

.logout-button:hover {
    -fx-font-weight: bold;
}


.logout-button {
    -fx-max-width: infinity; /* Make button grow to push it to the right */
    -fx-border-color: transparent; /* Remove border */
}

.view-label {
    -fx-text-fill: #4472C4 !important;
    -fx-font-size: 16px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;

}

.label {
    -fx-text-fill: white; /* Color of the text */
    -fx-font-family: "Calibri"; /* Font family */
    -fx-font-size: 16px; /* Font size */
}

.view-label {
    -fx-text-fill: #4472C4 !important;
    -fx-font-size: 30px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
}
